html {
    background-image: url(/img/bg.jpg);
    max-width: 100%;
    height: auto;

  }
  
  header {
    margin: 5%;
  }

  body {
    width: 100%;
    max-width: 1080px;
    margin: 50px auto;
  }

  .four {
    width: 100%;
    max-width: 1080px;
    height: 390px;
    margin: 50px auto;
  }

  h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #eaeaea;
    margin-bottom: -3 px;
    text-align: center;		

  }

  h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #eaeaea;
    margin-bottom: -3 px;

  }

  .five {
    font-family: 'Rock Salt', cursive;
    color: #12203b;
    font-size: 9pt;
 }

  rect.bordered {
    stroke: #f8f8f8;
    stroke-width:1px;   
  }

  text.mono {
    font-size: 9pt;
    font-family: Open Sans, sans-serif;
    fill: #b29c87;
  }

  text.axis-workweek {
    fill: #eaeaea;
  }

  text.axis-worktime {
    fill: #eaeaea;
  }

  #dataset-picker {
    display: flex;
    justify-content: center;
  }

  div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: transparent;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
    transition: all 1000ms ease;		
}

  /*######################## Journal Accordion #######################*/ 

  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
  @import url(http://fonts.googleapis.com/css?family=Montserrat:700);
  
  h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #b29c87;
  }
  
  .accordion {
    width: 100%;
    max-width: 1080px;
    height: 250px;
    overflow: hidden;
    margin: 50px auto;
  }
  .accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
  }
  .accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
  }
  .accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  .accordion ul li div a {
    display: block;
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
  }
  .accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .accordion ul li div a h2 {
    font-family: Montserrat,sans-serif;
    text-overflow: clip;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 160px;
  }
  .accordion ul li div a p {
    top: 160px;
    font-size: 13.5px;
  }
  .accordion ul li:nth-child(1) {
    background-image: url("img/1.jpg");
  }
  .accordion ul li:nth-child(2) {
    background-image: url("img/2.jpg");
  }
  .accordion ul li:nth-child(3) {
    background-image: url("img/3.jpg");
  }
  .accordion ul li:nth-child(4) {
    background-image: url("img/4.jpg");
  }
  .accordion ul li:nth-child(5) {
    background-image: url("img/5.jpg");
  }
  .accordion ul li:nth-child(6) {
    background-image: url("img/6.jpg");
  }
  .accordion ul li:nth-child(7) {
    background-image: url("img/7.jpg");
  }
  .accordion ul li:nth-child(8) {
    background-image: url("img/8.jpg");
  }
  .accordion ul li:nth-child(9) {
    background-image: url("img/9.jpg");
  }
  .accordion ul li:nth-child(10) {
    background-image: url("img/10.jpg");
  }
  .accordion ul li:nth-child(11) {
    background-image: url("img/11.jpg");
  }
  .accordion ul li:nth-child(12) {
    background-image: url("img/5.jpg");
  }
  .accordion ul li:nth-child(13) {
    background-image: url("img/2.jpg");
  }
  .accordion ul li:nth-child(14) {
    background-image: url("img/7.jpg");
  }
  .accordion ul li:nth-child(15) {
    background-image: url("img/10.jpg");
  }
  .accordion ul li:nth-child(16) {
    background-image: url("img/1.jpg");
  }
  .accordion ul li:nth-child(17) {
    background-image: url("img/4.jpg");
  }
  .accordion ul li:nth-child(18) {
    background-image: url("img/6.jpg");
  }
  .accordion ul li:nth-child(19) {
    background-image: url("img/9.jpg");
  }
  .accordion ul li:nth-child(20) {
    background-image: url("img/5.jpg");
  }
  .accordion ul li:nth-child(21) {
    background-image: url("img/3.jpg");
  }
  .accordion ul:hover li {
    width: 8%;
  }
  .accordion ul:hover li:hover {
    width: 60%;
  }
  .accordion ul:hover li:hover a {
    background: rgba(0, 0, 0, 0.4);
  }
  .accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  @media screen and (max-width: 600px) {
    body {
      margin: 0;
    }
  
    .accordion {
      height: auto;
    }
    .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
      position: relative;
      display: table;
      table-layout: fixed;
      width: 100%;
      -webkit-transition: none;
      transition: none;
    }
  }
  .about {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #666;
  }
  .about a {
    color: blue;
    text-decoration: none;
  }
  .about a:hover {
    text-decoration: underline;
  }